@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/gg-sans-2');

                
@theme {
  --color-test: white;
  --color-disc1: #121214;
  --color-disc2: #1a1a1e;
  --color-bcolor: #29292c;
  --color-gtext: #8E9297;
  --spacing-bar: 47px;
  --spacing-sidebar:20px;
  --text-welcome: 30px;
  --font-ggsansbold: 'gg sans';
  --font-ggsanssemi: 'gg sans SemiBold';
}

@layer components {
  .icon {
    @apply w-5.5 h-5.5;
    fill: var(--color-gtext);
  }
}
html, body {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: 'gg sans Normal', 'Noto Sans', sans-serif;
  color: white;
  font-size: 15px;
}