@import "tailwindcss";

@theme {
  --color-test: white;
  --color-disc1: #101012;
  --color-disc2: #1B1B1F;
  --color-bcolor: #2b2d31;
  --color-gtext: #8E9297;
  --spacing-bar: 47px;
  --spacing-sidebar:20px;
  --text-welcome: 30px;
}

@layer components {
  .icon {
    @apply w-5.5 h-5.5;
    fill: var(--color-gtext);
  }
}
html, body {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
}