@import "tailwindcss";

@theme {
  --color-test: white;
  --color-disc1: #101012;
  --color-disc2: #1B1B1F;
  --color-bcolor: #2b2d31;
  --color-gtext: #8E9297;
  --spacing-bar: 3rem;
  --spacing-sidebar:20px;
}

html, body {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
}